<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Devehoper
          </h6>
          <ul>
            <li> From hope to code — we build it.</li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <div data-translate="external resources"></div>
          </h6>
          <p>
            <a href="#" class="text-reset" rel="noopener" target="_blank">About</a>
          </p>
          <p>
            <a href="#" class="text-reset" rel="noopener"
              target="_blank">Services</a>
          </p>
          <p>
            <a href="https://fontawesome.com/start" class="text-reset" rel="noopener" target="_blank">
              Contact Us
            </a>
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" data-translate="contact"></h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            admin@devehoper.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 351 933 791 860</p>
          <p>
            <a href="https://wa.me/+ 351 933 791 860" rel="noopener" target="_blank" class="btn btn-success">
              <i class="fa-brands fa-whatsapp me-2"></i> <span data-translate="whatsapp message">Message Me on WhatsApp</span>
            </a>
          </p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright:
    <a class="text-reset fw-bold" rel="noopener" href="https://www.devehoper.com/"
      target="_blank">www.devehoper.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->