<header class="p-3 bg-dark text-white" id="header">
  <div class="container d-none d-md-block">
    <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="col-sm-2">
        <!-- Logo Section -->
        <a href="#HomeController" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="app/src/img/logo.webp" alt="Feigniter Logo" width="100" height="100">
        </a>
      </div>
    </div>
    <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"></div>
      <div class="col-10 col-lg-auto me-lg-auto mb-2">
      <!-- Navigation Menu -->
        <ul class="nav  justify-content-center mb-md-0 header-menu">
          <li class="header-item">
            <a href="#HomeController" class="nav-link px-2 text-secondary" data-translate="home">Home</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?features" class="nav-link px-2 text-white" data-translate="features">Features</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?compatibility" class="nav-link px-2 text-white" data-translate="browsers compatibility">Compatibility</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?faq" class="nav-link px-2 text-white">FAQs</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?about" class="nav-link px-2 text-white" data-translate="about">About</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?documentation" class="nav-link px-2 text-white" data-translate="documentation">Documentation</a>
          </li>
          <li class="header-item">
            <!-- Language Selector -->
            <select id="language-selector" name="language-selector" class="form-select text-white bg-dark" title="Select language">
              <option value="default" selected>Language</option>
              <option value="en" data-flag="🇺🇸">🇺🇸 English</option>
              <option value="pt" data-flag="🇵🇹">🇵🇹 Português</option>
            </select>
          </li>
          <li class="header-item">
            <!-- Theme Selector -->
            <select id="theme-selector" name="theme-selector" class="form-select text-white bg-dark" title="Select theme">
              <option value="default" selected>Theme</option>
              <option value="theme-default" >Default</option>
              <option value="theme-dark" >Dark</option>
            </select>
          </li>
          <li class="btn-signin">
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
        </ul>
      </div>

      <!-- Search Form -->
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" id="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form> -->
    </div>
  </div>

  <div class="container d-md-none">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-outline-light rounded-circle shadow-sm d-md-none header-menu-icon" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapseExample" 
          aria-expanded="false" 
          aria-controls="collapseExample" 
          title="Toggle navigation menu">
         <i class="fa-solid fa-bars fa-lg"></i>
        </button>

      </div>

    </div>
    <div class="row collapse" id="collapseExample">
      <div class="col-xs-12">
              <!-- Navigation Menu -->
        <ul class="nav justify-content-center mb-md-0 d-block">
          <li class="header-item mt-1">
            <a href="#HomeController" >
              <img src="app/src/img/logo.webp" alt="Feigniter Logo" width="100" height="100">
            </a>
          </li>
          <li class="header-item">
            <a href="#HomeController" class="nav-link px-2 text-secondary" data-translate="home">Home</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?features" class="nav-link px-2 text-white" data-translate="features">Features</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?compatibility" class="nav-link px-2 text-white" data-translate="browsers compatibility">Compatibility</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?faq" class="nav-link px-2 text-white">FAQs</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?about" class="nav-link px-2 text-white" data-translate="about">About</a>
          </li>
          <li class="header-item">
            <a href="#HomeController?documentation" class="nav-link px-2 text-white" data-translate="documentation">Documentation</a>
          </li>
          <li class="header-item">
            <!-- Language Selector -->
            <select id="language-selector" name="language-selector" class="form-select text-white bg-dark" title="Select language">
              <option value="default" selected>Language</option>
              <option value="en" data-flag="🇺🇸">🇺🇸 English</option>
              <option value="pt" data-flag="🇵🇹">🇵🇹 Português</option>
            </select>
          </li>
          <li class="header-item">
            <!-- Theme Selector -->
            <select id="theme-selector" name="theme-selector" class="form-select text-white bg-dark" title="Select theme">
              <option value="default" selected>Theme</option>
              <option value="theme-default" >Default</option>
              <option value="theme-dark" >Dark</option>
            </select>
          </li>
          <li class="btn-signin">
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
           <!-- Search Form -->
          <!-- <li class="class-item">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" id="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
          </li> -->
        </ul>
      </div>
    </div>

  </div>
</header>