/* ==========================
   VARIABLES & THEMES
========================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

#feigniter {
  width: 100%;
  height: 100%;
  display: flex; /* Optional: enables layout control inside */
  flex-direction: column;
}

#img-preview {
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: zoom-out;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#img-preview.show {
  opacity: 1;
}

.header-menu-icon {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.header-menu-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.btn-signin {
  padding: 5px;
}

.btn-signin:hover {
  cursor: pointer;
}

.footer-img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.theme-dark html,
.theme-dark body,
.theme-dark section,
.theme-dark article,
.theme-dark aside,
.theme-dark header,
.theme-dark footer,
.theme-dark main,
.theme-dark nav,
.theme-dark ul,
.theme-dark ol,
.theme-dark li,
.theme-dark table,
.theme-dark thead,
.theme-dark tbody,
.theme-dark tfoot,
.theme-dark tr,
.theme-dark td,
.theme-dark th,
.theme-dark pre,
.theme-dark code,
.theme-dark blockquote,
.theme-dark figure,
.theme-dark figcaption,
.theme-dark input,
.theme-dark textarea,
.theme-dark select,
.theme-dark button {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
}
.theme-dark a {
  color: #f8f9fa !important;
}
.theme-dark ::selection {
  background-color: rgb(74.8620689655, 83.5, 92.1379310345);
  color: #f8f9fa !important;
}
.theme-dark input,
.theme-dark textarea,
.theme-dark select,
.theme-dark button {
  border-color: rgb(29.1379310345, 32.5, 35.8620689655) !important;
}