/* ==========================
   VARIABLES & THEMES
========================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

#feigniter {
  width: 100%;
  height: 100%;
  display: flex; /* Optional: enables layout control inside */
  flex-direction: column;
}

#img-preview {
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: zoom-out;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#img-preview.show {
  opacity: 1;
}

.header-menu-icon {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.header-menu-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.btn-signin {
  padding: 5px;
}

.btn-signin:hover {
  cursor: pointer;
}

.footer-img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.theme-default html,
.theme-default body,
.theme-default section,
.theme-default article,
.theme-default aside,
.theme-default header,
.theme-default footer,
.theme-default main,
.theme-default nav,
.theme-default ul,
.theme-default ol,
.theme-default li,
.theme-default table,
.theme-default thead,
.theme-default tbody,
.theme-default tfoot,
.theme-default tr,
.theme-default td,
.theme-default th,
.theme-default pre,
.theme-default code,
.theme-default blockquote,
.theme-default figure,
.theme-default figcaption,
.theme-default input,
.theme-default textarea,
.theme-default select,
.theme-default button {
  background-color: #f8f9fa !important;
  color: #343a40 !important;
}
.theme-default a {
  color: #343a40 !important;
}
.theme-default ::selection {
  background-color: white;
  color: #343a40 !important;
}
.theme-default input,
.theme-default textarea,
.theme-default select,
.theme-default button {
  border-color: rgb(218.25, 223.5, 228.75) !important;
}